# Filter, Drop Nulls, Dedupe
Use `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Renaming Columns*.

In [1]:
import pandas as pd
# import pandas and load datasets

df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [2]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [7]:
df_08_filtered = df_08.query("cert_region == 'CA'")
df_18_filtered = df_18.query("cert_region == 'CA'")

In [8]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [9]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['FA', 'CA'], dtype=object)

In [11]:
# drop certification region columns form both df_08 and df_18 datasets
# you no longer this column since all data should now 
# be filtered by California
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [12]:
df_08.shape

(2404, 13)

In [13]:
df_18.shape

(1611, 13)

## Drop Rows with Missing Values
As a reminder, you can use the `.isnull()` method to view how many null values are in each column.  
To count every null from every column, sum the values returned from `.isnull()` by using `.sum()` to return a total count.

In [14]:
# view missing value count for each feature in 2008
missing_values_count = df_08.isnull().sum()
print(missing_values_count)

model                     0
displ                     0
cyl                     199
trans                   199
drive                    93
fuel                      0
veh_class                 0
air_pollution_score       0
city_mpg                199
hwy_mpg                 199
cmb_mpg                 199
greenhouse_gas_score    199
smartway                  0
dtype: int64

In [15]:
# view missing value count for each feature in 2018
missing_values_count = df_18.isnull().sum()
print(missing_values_count)

model                   0
displ                   2
cyl                     2
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [17]:
# drop rows with any null values in both datasets

df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

df_08.dropna( inplace=True)
df_18.dropna(inplace=True)

In [18]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [19]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data
Check if there are duplicate values in your DataFrames by using the `.duplicated()` function. Read more on the functionality [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html).

In [20]:
# print number of duplicates in 2008 and 2018 datasets
# remember to use .sum() on the retured values from .duplicated() to count all total duplicates.

duplicates_08 = df_08.duplicated().sum()
duplicates_18 = df_18.duplicated().sum()

print("Number of duplicates in 2008 dataset:", duplicates_08)
print("Number of duplicates in 2018 dataset:", duplicates_18)

Number of duplicates in 2008 dataset: 555
Number of duplicates in 2018 dataset: 777

In [21]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

df_08.drop_duplicates( inplace=True)
df_18.drop_duplicates( inplace=True)

In [22]:
# print number of duplicates again to confirm dedupe - should both be 0
duplicates_08 = df_08.duplicated().sum()
duplicates_18 = df_18.duplicated().sum()

print("Number of duplicates in 2008 dataset:", duplicates_08)
print("Number of duplicates in 2018 dataset:", duplicates_18)

Number of duplicates in 2008 dataset: 0
Number of duplicates in 2018 dataset: 0

In [23]:
# save progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)